body {

    margin: 0;
}

.hero img{

    width: 100%;
    position: relative;
    text-align: center;
}

#hero-image {

    width: 100%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.5;
}

.hero-text {

    margin: 0px;
    position: absolute;
    top: 40%;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    text-align: right;
}