body {
  background-color: #fec868;
  font-family: "TTInterfaces", Arial, Helvetica, sans-serif;
  margin: 0%;
  color: #473C33;
}

h2 {
  display: inline-block;
}

.wrapper {
  background-color: #fec868;
  padding: 0;
  display: grid;
  grid-template-columns: 140px 1fr;
}

section ul {
  list-style-type: none;
}

#work-exp ul {
  list-style-type: "🖥️  ";
  border-bottom: 2px black;
}

header h1 {
  text-align: center;
}

nav {

  position: fixed;
  background-color: #fec868;
  grid-column: 1;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav a {
  display: block;
  text-decoration: none;
  color: #fec868;
  border-bottom: 1px solid #fec868;
  padding-bottom: 5px;
  background-color: #473c33;
}

nav a:hover {
  color: #473c33;
  background-color: #fec868;
}

main {
  
  grid-column: 2;
}

footer {

  grid-column: 2;
}

footer p {
  text-align: center;
  font-style: italic;
}

.project p {
  position: relative;
}

.certificate p {
  position: relative;
}

.skill {
  display: inline-block;
  margin-left: 10px;
}

.skill img {
  height: 1em;
}

.skill p {
  display: inline-block;
}

#about {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}

#profile-photo {
  border-radius: 20%;
  border: 1px solid #473c33;
  height: 315px;
  width: 261px;
  clear: left;
}

.profile-photo-figure {
  grid-column: 2;
  width: 261px;
}

.about-text {
  grid-column: 1;
  grid-row: 1;
  align-self: center;
}

.profile-photo-figure figcaption {
  text-align: center;
  font-size: 0.8em;
  font-style: italic;
}

@media only screen and (max-width: 820px) {

  .wrapper {

    grid-template-columns: 1fr;
  }
  
  nav {
    position: static;    
  }

  main {
    grid-column: 1;
  }

  footer {

    grid-column: 1;
  }

  #about {
    grid-template-columns: minmax(0, 1fr);
  }
  .profile-photo-figure {

    grid-column: 1;
  }
}