body {

  background-color: #fec868;
  font-family: "TTInterfaces", Arial, Helvetica, sans-serif;
  margin: 0%;
}

h1 {
  color: #473c33;
}

h2 {
  display: inline-block;
}

#about {
  clear: both;
}

.wrapper {
  background-color: #fec868;
  color: #473c33;
  padding: 0;
  
}

section ul {
  list-style-type: none;
}

#work-exp ul {
  list-style-type: "🖥️";
  border-bottom: 2px black;
}

header {
  float: top;
  width: 100%;
  padding-bottom: 10px;
}

header h1 {
  text-align: center;
  width: 100%;
}

nav {
  padding-top: 10em;
  float: left;
  width: 130px;
  padding: 10px;
  position: fixed;
  background-color: #fec868;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 300px;
}

nav a {
  display: block;
  text-decoration: none;
  color: #fec868;
  border-bottom: 1px solid #fec868;
  padding-bottom: 5px;
  background-color: #473c33;
  height: 42px;
}

nav a:hover {
  color: #473c33;
  background-color: #fec868;
}

main {
  margin-left: 160px;
  padding: 10px;
  overflow: auto;
}

footer p {
  text-align: center;
  font-style: italic;
}

.project p {
  position: relative;
  width: 560px;
}

.certificate p {
  position: relative;
}

.skill {
  display: inline-block;
  margin-left: 10px;
}

.skill img {
  height: 1em;
}

.skill p {
  display: inline-block;
}

#profile-photo {
  position: relative;
  width: 100%;
  border-radius: 20%;
  border: 1px solid #473c33;
}

.profile-photo-figure {
  float: right;
  width: 40%;
}

.profile-photo-figure figcaption {
  text-align: center;
  font-size: 0.8em;
  font-style: italic;
}